<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">

    <title>Product</title>
</head>

<body>


<div class="content">

    <div class="container">
        <h2 class="mb-5">Créer un nouveau Produit</h2>
        <br/>
        <form class="form" th:action="@{/save}" th:object="${product}" method="post">
            <table class="table row">
                <tr class="table-header">
                    <td>Nom:</td>
                    <td><input type="text" th:field="*{name}"/></td>
                </tr>
                <tr >
                    <td>Firme:</td>
                    <td><input type="text" th:field="*{brand}"/></td>
                </tr>
                <tr >
                    <td>Fabriqué:</td>
                    <td><input type="text" th:field="*{madein}"/></td>
                </tr>
                <tr >
                    <td>Prix:</td>
                    <td><input type="text" th:field="*{price}"/></td>
                </tr>
                <tr >
                    
                    <td colspan="2"><button type="submit">Ajouter</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>



<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>